allow mediaserver sysfs_wake_lock:file { open read write };
allow mediaserver system_data_file:file { open read };
allow mediaserver system_data_file:dir { add_name write };
allow mediaserver system_server:unix_stream_socket { read write setopt };
allow mediaserver system_prop:property_service set;

allow mediaserver camera_prop:property_service set;
allow mediaserver camera_prop:file r_file_perms;

# Playback DRM protected content
r_dir_file(mediaserver, efs_file)

# /dev/m2m1shot_jpeg
allow mediaserver camera_device:chr_file { read write open getattr ioctl };
allow mediaserver camera_device:file { getattr open read write };
allow mediaserver camera_device:lnk_file read;
allow mediaserver camera_device:dir search;

allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver mediaserver_tmpfs:file { read write };
allow mediaserver system_data_file:sock_file write;

allow mediaserver debugfs_trace_marker:file { open write };
