allow mediaserver efs_file:dir r_dir_perms;
allow mediaserver sysfs_wake_lock:file { open read write };
allow mediaserver system_data_file:file { open read };
allow mediaserver system_data_file:dir { add_name write };
allow mediaserver system_server:unix_stream_socket { read write setopt };
allow mediaserver system_prop:property_service set;
allow mediaserver camera_prop:property_service set;
allow mediaserver camera_data_file:dir rw_dir_perms;
allow mediaserver camera_data_file:file create_file_perms;

# /efs/wv.keys
allow mediaserver efs_file:file r_file_perms;

# Snap permissions
allow mediaserver sensorservice_service:service_manager { find };
allow mediaserver system_server:unix_stream_socket { read write };
