allow nfc nfc_data_file:dir { search write add_name };
allow nfc nfc_data_file:file { create open write read };

allow nfc nfc_device:chr_file { ioctl open read write };
