allow priv_app self:udp_socket ioctl;
allow priv_app device:dir { read open };
# exfat external sd card
allow priv_app exfat:file { getattr open read };
allow priv_app exfat:dir search;

allow priv_app debugfs_trace_marker:file { open write };
