on init
    # Touchscreen
    write /sys/devices/12c60000.i2c/i2c-8/8-0020/input/input2/enabled 0
    write /sys/devices/12c60000.i2c/i2c-8/8-0020/input/input2/power/control on
    write /sys/devices/12c60000.i2c/i2c-8/8-0020/input/input2/enabled 1

on property:zygote.enable=1
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export ANDROID_STORAGE /storage
    export ASEC_MOUNTPOINT /mnt/asec
    export LOOP_MOUNTPOINT /mnt/obb
   start zygote

on property:zygote.enable=0
   stop zygote
